* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 15px auto;
    margin-top: 60px;
    padding: 10px;
    background-color: rgba(155, 168, 51, 0.25);
    padding-bottom: 40px;

    /* Background */
    border-radius: 25px;
    background-image: url("../images/Reeds-in-Wind-Cinemagraph.gif");
    background-repeat: no-repeat;
    background-size: cover;

}

main h1 {
    font-family: 'Calligraffitti', cursive;
    text-align: center;
    margin-bottom: 0;
    color: #000;
}

main, nav {
    /* Corrects internet explorer from setting main and nav to 'inline' */
    display: block;
}

nav {
    width: 100%;
    background-color: #DDDDDD;
    position: fixed;
    top: 0;
    min-width: 447px;
}

nav li {
    float: left;
    margin-left: 0;
}

nav ul {
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
}

nav a {
    display: block;
    width: 100px;
    background-color: #DDDDDD;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    margin: 15px;
}

a:hover {
    background-color: green;
    color: white;
}

p:first-letter {
    font-size: 3em;
    font-family: serif;
    color: green;
}

/* Table styling */

caption {
    font-size: 2em;
    padding: 10px;
    background-color: green;
    color: white;
}

table, td, th {
    border: 1px solid black;
}

table {
    width: 50%;
    margin: auto;
}

td {
    text-align: center;
}

td, th {
    padding: 10px;
}

/* Select 1st td in every row */
td:nth-child(1) {
    width: 60%;
}

/* Select every even table row */
tr:nth-child(even) {
    background-color: #B2E0B2;
    /* width: 15%; */
}

/* Media queries */

@media screen and (min-width: 600px) {
    main {
        background-image: url("../images/Reeds-in-Wind-Cinemagraph.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1000px) {
    main {
        background-color: red;
        background-image: none;
    }
}

@media screen and (max-width: 350px) {
    main {
        background-color: #88A5E0;
        background-image: none;
    }
}