* {
    margin: 0;
}

main {
    display: block;
    margin: 10px auto;
    width: 600px;
    padding: 30px;
    margin-top: 0;
    background-color: olive;
}

@media screen and (max-width: 350px) {
    main {
        background-color: #88A5E0;
    }
}

@media screen and (min-width: 600px) {
    main {
        background-color: red;
    }

    p {
        font-size: 4em;
    }
}

@media screen and (min-width: 800px) {
    main {
        background-image: url(../images/Reeds-in-Wind-Cinemagraph.gif);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 400px;
    }
}

@media screen and (min-width: 1000px) {
    main {
        background-image: none;
        background-color: #FFF;
    }
    h1, p {
        display: none;
    }
}
