body {
    font-size: 1.5em;
}

ol.none, ul.none {
    list-style-type: none;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: disc;
}
ul.c {
    list-style-type: square;
}

ol.d {
    list-style-type: lower-alpha;
}
ol.e {
    list-style-type: lower-greek;
}
ol.f {
    list-style-type: lower-latin;
}
ol.g {
    list-style-type: lower-roman;
}

ol.h {
    list-style-type: upper-alpha;
}
ol.i {
    list-style-type: upper-latin;
}
ol.j {
    list-style-type: upper-roman;
}