body {
    padding: 0;
    margin: 0;
}

li {
    background-image: url(../images/red-star-bullet.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 10px;
    background-position: 0px 9px;

    background-color: #00FF00;
    margin-bottom: 5px;
}

ol, ul {
    list-style-type: none;
}

#container {
    width: 50%;
}