a {
    display: inline-block;
    width: 80px;
    background-color: #DDDDDD;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #DDFF00
}

h1 {
    display: inline;
}

li {
    float: left;
    margin-left: 0px;
    /* margin: 10px 10px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 200px;
    overflow: hidden;
    float: right;
}

