/* tag Selectors */

body {
    font-size: 16px;
    /* font-family: "Shadows Into Light", cursive; */
    font-family: monospace;
    color: #000;
    /* Individual Properties */
    /* background-color: #FFF;
    background-image: url("images/tile.jpg");
    background-repeat: repeat-x;
    background-position: top;
    background-attachment: fixed; */
    background: #FFFFFF url("../images/miami-trans.png") no-repeat right top fixed;
    background-size: cover;
}

h1, h2, h3 {
    font-family:'Shadows Into Light', cursive;
    max-width: 500px;
    background-color: #A2B7CF;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
}

h2 {
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    text-align: left; /* remove since left is the default*/
    margin-top: 30px;
}

ol li {
    list-style-type: numbers;
    line-height: 180%;
    width: 65%;
}

p {
    text-indent: 20px;	
    text-align: justify;
    width: 80%; 
}

p .italic {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style-type: none;
    line-height: 200%;
    /* margin: 5px 0; */
}

#miamiBuilding {
float: right; margin: 10px; margin-bottom: 50px; margin-right:20%
}

/**************** Pseudo classes ****************/

a:link, a:visited {
    color: #000;
    text-decoration: none;
    background-color: #A2B7CF;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    width: 145px;
    transition: margin-bottom .25s ease-in;
}   
 
a:hover {
    color: blue;
    text-decoration: underline;
    color: #fff;
    background-color: #A2B7CF;
    border-radius: 10px;
    margin-bottom: 45px;
} 
a:active {
    color: green;
    font-weight: bold;
}

#centerDoc a {
    background-color: transparent;
}

#centerDoc a:link, #centerDoc a:visited {
    color: #000;
    text-decoration: underline;
}   
#centerDoc a:hover {
    color: #ff0000;
    margin-bottom: 0;
} 

/************************* ID's *************************/

#navigation {
    position: absolute;
    z-index: 10;
    width: 210px;
    height: 600px;
    margin: 0;
    border-right: 1px solid #000000;
    font-weight: normal;
}

#centerDoc {
    position: absolute;
    z-index: 15;
    padding: 0 0 20px 20px; /*top right bottom left*/
    margin-top: 50px;
    margin-left: 235px;
    width: 80%;
    max-width: 1800px;
    min-width: 500px;
}