canvas {
    border: 1px dashed black;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

main {
    width: 50%;
    margin: 0 auto;
}

#buttons {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#displayColor {
    font-size: 24px;
    text-align: center;
}
