h2 {
    text-align: center;
}
main {
    width: 50%;
    margin: 0 auto;
}

canvas {
    border: 1px dashed black;
    padding: 10px;
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 400px;
}