/*
    My online store stylesheet
*/

/* 
    Template styles
*/

/* Header Styles */

body {
    margin: 0;
    padding: 20px;
    background: #EEE;
    font-family: arial;
    font-size: 13px;
}

#wrapper {
    margin: 0 auto;
    padding: 30px;
    width: 900px;
    background: #FFF;
}

    h1 {
        margin: 0;
        padding: 30px;
        background: green;
        color: #FFF;
        font-size: 34px;
    }

    .secondaryNav {
        text-align: right;
        margin: 0 0 10px 0;
    }

    .nav {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #10AD00;
        
    }

        .nav li {
            float: left;
            border-right: 1px solid green;

        }

        .nav a {
            display: block;
            padding: 8px 30px;
            color: #FFF;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }

        .nav a:hover {
            background: #0E9900;
        }

        .nav li.active {
            background: green;
        }

/* Content styles */

#content {
    min-height: 300px;
    padding: 30px;

}

#footer {
    padding: 20px 0 0 30px;
    border-top: 1px solid #EEE;
    font-size: 12px;
}

/*
    Page specific styles
*/

/* Home page styles*/
#content h2 {
    font-size: 18px;
    margin: 0020px 0;
    padding: 0;
}

#content .products {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

}

#content .products li {
    float: left;
    margin: 0 10px 30px 0;
}

#content .products li.last {
    margin-right: 0;
}

#content .products li img{
    border: 1px solid #CCC;
    margin-bottom: 4px;
}

#content .products li strong{
    font-size: 14px;
}

/* Product page  styles*/

.product #content .productImage {
    float:left;
    margin: 0 40px 40px 0;
    border: 1px solid #CCC;
}

.product #content .h2 {
    font-size: 22px;
    margin: 10px 0 2px 0;
}

.product #content .price {
    font-weight: bold;
    margin-bottom: 20px;
    color: green;
    font-size: 16px;
}

.product #content .description {
    margin-bottom: 20px;
    font-size: 14px;
}

/* Product page  styles*/

.shoppingCart form {
    clear: both;
    overflow: hidden;
}

.shoppingCart .cart {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .shoppingCart .cart li {
        overflow: hidden;
        padding: 10px;
    }

        .shoppingCart .cart li.alt {
            background: #EEE;
        }

    .shoppingCart .col1 {
        float: left;
        width: 472px;
        padding-top: 5px;
    }

    .shoppingCart .col2 {
        float: left;
        width: 100px;
    }

        .shoppingCart .col2 input {
            width: 40px;
        }
    
    .shoppingCart .col3 {
        float: left;
        width: 100px;
        padding-top: 5px;
    }

    .shoppingCart .col4 {
        float: right;
        font-weight: bold;
        padding-top: 5px;
    }

    .shoppingCart .headerRow {
        font-weight: bold;
        color: #666;
        border-bottom: 1px solid #EEE;
        padding-bottom: 8px;
        margin-bottom: 20px;
    }

        .shoppingCart .headerRow .col1,
        .shoppingCart .headerRow .col2,
        .shoppingCart .headerRow .col3,
        .shoppingCart .headerRow .col4 {
            padding-top: 0
        }
    
    .shoppingCart .totalRow {
        padding: 4px, 10px;

    }
        .shoppingCart .totalRow .col1 {
            width: 702px;
            text-align: right;
            font-weight: bold;
            font-size: 16px;
            padding-top: 0;
        }

        .shoppingCart .totalRow .col2 {
            float: right;
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            /* text-align: right; */
        }

    .shoppingCart .subtotalRow {
        border-top: 1px solid #EEE;
        margin-top: 20px;
        padding: 10px 10px 4px
    }
    
    .shoppingCart .cart .shippingRow,
    .shoppingCart .cart .taxesRow {
        padding: 4px 10px;
    }

        .shoppingCart .cart .subtotalRow .col1,
        .shoppingCart .cart .shippingRow .col1,
        .shoppingCart .cart .taxesRow .col1 {
            width: 702px;
            text-align: right;
            font-weight: bold;
            padding-top: 0;
        }

        .shoppingCart .cart .subtotalRow .col2,
        .shoppingCart .cart .shippingRow .col2,
        .shoppingCart .cart .taxesRow .col2 {
            float: right;
            width: 100px;
            /* text-align: right; */
        }
    
    .shoppingCart .buttonsRow {
        position: relative;
        top: -110px; 
    }

    .shoppingCart .submitRow {
        float: right;
        margin: 10px 0 30px;
    }

    /* 
        Alert styles
    */

    .alerts {
        list-style: none;
        padding: 0;
        margin: 0
    }

    .alerts li.success {
        padding: 10px;
        border: 1px solid #AFD4A6;
        background: #CEECC7
    }


/* 
    Button styles
*/

#content .button, #content .buttonSml, #content .buttonAlt{
    display: inline-block;
    color: #FFF;
    background: green;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 13px;
    border: 0;
}

#content .buttonSml {
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 10px;
}

#content .button:hover, #content .buttonSml:hover {
    background: #10AD00;
}

#content .buttonAlt {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    border: 0;
    cursor: pointer;
    background: grey;
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
}

#content .buttonAlt:hover {
    background: #989898;
}