* {margin: 0;}

main, nav {display: block;}

main {
    width: 60%;
    height: 400px;
    background-color: rgba(155, 168, 51, 0, 0.25);
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 60px;
    border-radius: 25px;

    /* Background */
    background-image: url("Reeds-in-Wind-Cinemagraph.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

main h2 {
    font-family: Calligraffitti;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    color: #FFF;
    font-size: 1.6em;
    font-weight: 900;
}

main p {
    font-family: Calligraffitti;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    color: #000;
    font-size: 2em;
    font-weight: 900;
}

p {
    margin: 15px;
    margin-top: 0;
}

nav {
    width: 100%;
    background-color: #DDDDDD;
    position: fixed;
    top: 0;
    min-width: 369px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-left: 0;
}

nav a {
    display: block;
    width: 150px;
    background-color: #DDDDDD;
    color: #000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: green;
    color: #FFF;
}

form, input {
    margin: 20px auto;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #B2E0B2;
}