* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Veranda, Geneva, sans-serif;
    font-size: 0.8em;
    color: #333333;
    background-color: #FFF;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

.redBox {
    background-color: #FAF0E6;
    border: 1px solid red;
}

#container {
    width: 960px;
    margin: 10px auto;
    position: relative;
    background-color: #FFF;
}

#header {
    margin-bottom: 20px;
    background-color: #FAF0E6;
    border: 1px solid red;
}

#header h1 {
    padding: 10px;
}

#miamiBuilding {
    float: right;
    margin: 20px;
}

#navigation {
    float: left;
    width: 198px;
}

#navigation h2 {
    padding-left: 10px;
    padding-bottom: 10px;
}

#navigation li {
    list-style: none;
    line-height: 1.5em;
}

#navigation a {
    padding-left: 10px;
    line-height: 2em;
    text-decoration: none;
}

#navigation a:hover {
    background-color: #FAFAD2;
    display: block;
}

#centerDoc {
    float: right;
    width: 738px;
    margin-left: 20px;
}

#footer {
    float:right;
    width: 738px;
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
}

#centerDoc p, h3, h1{
	padding-left: 10px;
	padding-right: 10px;
}

#centerDoc p {
	margin-bottom: 10px;
}

#centerDoc h1, h3 {
	margin-bottom: 10px;
}

#centerDoc li {
	list-style: none;
	padding-left: 10px;
	line-height: 1.5em;
}

#centerDoc ol{
	margin-bottom: 10px;
}

#footer p {
	padding: 10px;
}