
nav, main {display: block;}

body {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color: #333333;
background-color: #FFF;
}

p { width: 80%; }

ul li {
list-style-type: circle;
line-height: 200%;
}

ol li {
list-style-type: numbers;
line-height: 180%;
width: 65%;
}

h1 {
font-size: 18px;
font-weight: bold;
color: #000000;
}

h2 {
font-size: 16px;
font-weight: bold;
color: #000000;
text-align: center;
}

h3 {
font-size: 14px;
font-weight: bold;
color: #000000;
text-align: left;
margin-top: 30px;
}
 

a:link {color: green; text-decoration: none;}   
a:visited { color: green; background: red; }   
a:hover { color: blue; text-decoration: underline;} 
a:active { color: green; font-weight: bold;}

main a:link {color: green; text-decoration: underline;}  


nav {
width: 18%;
height: 600px;
margin: 0;
border-right: 1px solid #000000;
font-weight: normal;
}

main {
width: 78%;
float: right;
padding: 0 0 20px 20px; /*top right bottom left*/
margin-top: 50px;
}

img {float: right; margin: 10px; margin-bottom: 50px; margin-right:20%}


@media screen and (max-width: 625px) {

		nav {
		/* clear: both; moves the element below any floated elements.  */
		clear: both;
		width: 100%;
		border-right: 0px;
		text-align: center;
		height: 50px;
		}

		main {
		width:100%;
		margin-top: 0px;
		padding: 0px 0px;
		}

		img {width: 150px; height: 300px; margin: 5px;}

		ul li {
		list-style-type: none;
		padding: 5px;
		padding-left: 0px;
		margin-bottom: 0px;
		margin-left: -30px;
		}

		ol li {
		list-style-type: numbers;
		line-height: 150%;
		width: 100%;
		}

		h2 {text-align: left;}

		p { width: 100%; margin-right: 0px; }


	nav a:link {color: white; text-decoration: none; display: block; background-color: #D67979}   
	nav a:visited { color: white; background: red; display: block; background-color: #D67979}   
	nav a:hover { color: blue; text-decoration: underline; background-color:#ABABC7;} 
}

@media screen and (max-width: 370px) {

	img {display: none;}

}
