/* tag Selectors */

body {
    font-size: 16px;
    /* font-family: "Shadows Into Light", cursive; */
    font-family: monospace;
    color: #000;
    /* background-color: #FFF;
    background-image: url("images/tile.jpg");
    background-repeat: repeat-x;
    background-position: top;
    background-attachment: fixed; */
    /* background: #FFFFFF url("images/tile.jpg") no-repeat right top fixed; */
    background: #FFFFFF url("images/miami.jpg") no-repeat right top fixed;
    background-size: cover;
}

h1, h2, h3 {
    font-family:'Shadows Into Light', cursive;
    max-width: 500px;
    background-color: #A2B7CF;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
}

h2 {
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    text-align: left; /* remove since left is the default*/
    margin-top: 30px;
}

p {
    text-indent: 20px;	
    text-align: justify;
    width: 80%; 
}

ul li {
    list-style-type: circle;
    line-height: 200%;
}

ol li {
    list-style-type: numbers;
    line-height: 180%;
    width: 65%;
}

#miamiBuilding {
float: right; margin: 10px; margin-bottom: 50px; margin-right:20%
}

/**************** Pseudo classes ****************/

a:link {color: green; text-decoration: none;}   
a:visited { color: green; background: red; }   
a:hover { color: blue; text-decoration: underline;} 
a:active { color: green; font-weight: bold;}

#centerDoc a:link {color: green; text-decoration: underline;}   
#centerDoc a:hover { color: blue;} 

/************************* ID's *************************/

#navigation {
    position: absolute;
    z-index: 10;
    width: 210px;
    height: 600px;
    margin: 0;
    border-right: 1px solid #000000;
    font-weight: normal;
}

#centerDoc {
    position: absolute;
    z-index: 15;
    padding: 0 0 20px 20px; /*top right bottom left*/
    margin-top: 50px;
    margin-left: 235px;
    width: 80%;
    max-width: 1800px;
    min-width: 500px;
}