* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Shadows Into Light";
    margin: 10px;
    padding: 10px;
}

p {
    margin: 5px;
    padding: 5px;
}

.specialP {
    width: 40%;
    background-color: red;
}

#fixed {
    width: 600px;
    background-color: grey;
    padding: 10px;
    margin: 10px;
}

#fluid {
    width: 90%;
    background-color: green;
    padding: 10px;
    margin: 10px;
    /* Min/Max Width */
    max-width: 1500px;
    min-width: 400;
    /* Height & Overflow */
    height: 200px
}