* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Shadows Into Light";
    padding: 10px;
    margin: 10px;
    /* display: none; */
    /* visibility: hidden; */
}

p {
    padding: 5px;
    margin: 5px;
}

#fixed {
    margin: 10px auto;
    width: 90%;
}

#floater {
    width: 250px;
    height: 200px;
    background-color: red;
    float: right;
    margin-left: 20px;padding: 10px;
    overflow: auto;
}

#floater ol {
    margin-left: 20px;
    margin-top: 10px;
    /* display: none; */
}

.horn {
    color: red;
    font-family: "Shadows Into Light";
    font-size: 1.4em;
}

.imageFloat {
    float: right;
    margin: 5px;
    width: 250px;
}

.toClear {
    clear: both;
}