body {
    font-size: 14px;
    /* color: red; */
    font-family: "Courier New", Courier, monospace;
}

h1, h3 {
    color: #9fbbd1;
    text-transform: capitalize;
    font-weight: bold;
    /* font-size: 24px; */
    font-size: 2em;
}

p {
    text-indent: 20px;
    text-align: justify;
}

p .italic {
    font-style: italic;
    font-weight: bold;
}